{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Archives{% endblock %}

{% block content %}
  <h1>Archives</h1>
  {#
    I'm not sure that the use of dl, dt, and ddhere is correct.  This
    is not a list of descriptions and the date is not the term whose
    definition is the article title.
  #}
  <dl>
    {% for article in dates %}
      <dt>{{ article.locale_date }}</dt>
      <dd><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dd>
    {% endfor %}
  </dl>
{% endblock %}
